<h1>Intenções Recebidas</h1>

{{#each data}}
  <div style="margin-bottom: 1rem;">
    <h3>{{this.email}}</h3>
    <h4>{{this.nome}}</h4>

    <form action="/aprovar/{{this.id}}" method="POST" style="display:inline;">
      <input type="submit" value="Aprovar">
    </form>

    <form action="/reprovar/{{this.id}}" method="POST" style="display:inline;">
      <input type="submit" value="Reprovar">
    </form>

    <p>Status: {{this.aprovacao}}</p>
    <hr>
  </div>
{{/each}}
